table#datatablesSimple
    thead
        tr
            th SubID
            th Price
            th Discount
            th Items
            th Segment
    tfoot
        tr
            th SubID
            th Price
            th Discount
            th Items
            th Segment
    tbody
        tr
            th Dolphins
            th
                select.form-select
                    option $0.99
                    option $4.99
                    option $10.99
                    option $24.99
                    option(selected) $49.99
            th 
                .input-group
                    input.form-control(type="number", min="0", max="100", value="30")
                    span.input-group-text %
            th
                .row.cell Nov_2022_currency_multi x 10
                .row.cell Nov_2022_gems_multi x 1000
                .row.cell Nov_2022_shards_multi x 100
                .row 
                    .sb-nav-link-table-icon
                        i.fas.fa-add
            th
                select.form-select
                    option(selected) A4R5-XXXX-YYYY-ZZZZ - Dolphins
                    option A4R5-XXXX-YYYY-ZZZZ - Tuna
                    option A4R5-XXXX-YYYY-ZZZZ - Nemo
                    option A4R5-VVVV-WWWW-XXXX - Dory
                    option A4R5-WWWW-XXXX-YYYY - Turtle
        tr
            th Tune
            th
                select.form-select
                    option $0.99
                    option $4.99
                    option $10.99
                    option(selected) $24.99
                    option $49.99
            th 
                .input-group
                    input.form-control(type="number", min="0", max="100", value="20")
                    span.input-group-text %
            th
                .row.cell Nov_2022_currency_multi x 10
                .row.cell Nov_2022_gems_multi x 100
                .row 
                    .sb-nav-link-table-icon
                        i.fas.fa-add
            th
                select.form-select
                    option A4R5-XXXX-YYYY-ZZZZ - Dolphins
                    option(selected) A4R5-XXXX-YYYY-ZZZZ - Tuna
                    option A4R5-XXXX-YYYY-ZZZZ - Nemo
                    option A4R5-VVVV-WWWW-XXXX - Dory
                    option A4R5-WWWW-XXXX-YYYY - Turtle
        tr
            th Nemo
            th
                select.form-select
                    option $0.99
                    option $4.99
                    option(selected) $10.99
                    option $24.99
                    option $49.99
            th 
                .input-group
                    input.form-control(type="number", min="0", max="100", value="10")
                    span.input-group-text %
            th
                .row.cell Nov_2022_gems_multi x 100
                .row 
                    .sb-nav-link-table-icon
                        i.fas.fa-add
            th
                select.form-select
                    option A4R5-XXXX-YYYY-ZZZZ - Dolphins
                    option A4R5-XXXX-YYYY-ZZZZ - Tuna
                    option(selected) A4R5-XXXX-YYYY-ZZZZ - Nemo
                    option A4R5-VVVV-WWWW-XXXX - Dory
                    option A4R5-WWWW-XXXX-YYYY - Turtle
        tr
            th Dory
            th
                select.form-select
                    option(selected) $0.99
                    option $4.99
                    option $10.99
                    option $24.99
                    option $49.99
            th 
                .input-group
                    input.form-control(type="number", min="0", max="100", value="0")
                    span.input-group-text %
            th
                .row 
                    .sb-nav-link-table-icon
                        i.fas.fa-add
            th
                select.form-select
                    option A4R5-XXXX-YYYY-ZZZZ - Dolphins
                    option A4R5-XXXX-YYYY-ZZZZ - Tuna
                    option A4R5-XXXX-YYYY-ZZZZ - Nemo
                    option(selected) A4R5-VVVV-WWWW-XXXX - Dory
                    option A4R5-WWWW-XXXX-YYYY - Turtle