table#datatablesSimple
    thead
        tr
            th Gate
            th Live
            th LiveOps
            th Development
            th Staging
    tfoot
        tr
            th Gate
            th Live
            th LiveOps
            th Development
            th Staging
    tbody
        tr
            th r50_development
            th none
            th none
            th all
            th none
        tr
            th r50_staging
            th none
            th none
            th all
            th all
        tr
            th r45_liveops
            th none
            th all
            th all
            th all
        tr
            th r45_live
            th all
            th all
            th all
            th all