table#datatablesSimple
    thead
        tr
            th Short
            th ID
            th EN
            th FR
            th DE
            th ES
            th PT
            th IT
            th RU
            th NL
            th KO
            th JA
    tfoot
        tr
            th Short
            th ID
            th EN
            th FR
            th DE
            th ES
            th PT
            th IT
            th RU
            th NL
            th KO
            th JA
    tbody
        tr
            th 64461 
            th !!MOVE_DESC_KICKOUT_SWAPRANDOMGEMS_DAMAGE 
            th Kickout, Deal &lt;damage&gt; Damage and swap &lt;val1&gt; Random Gems into &lt;val2&gt; Gems. Gem(s) broken during Kickout do not deal damage to the Opponent.. Cannot Kickout when in Danger. 
            th Kick-out, inflige &lt;damage&gt; de dégâts et transforme &lt;val1&gt; gemmes aléatoires en gemmes &lt;val2&gt;. Les gemmes brisées lors du kick-out n&#39;infligent aucun dégât. Impossible d&#39;effectuer un kick-out en danger. 
            th Kick-out, füge &lt;damage&gt; Schaden zu und tausche &lt;val1&gt; zufällige Juwelen in &lt;val2&gt; Juwelen. Während des Kick-outs zerbrochene Juwelen verursachen keinen Schaden. Kickout nicht möglich, wenn in Gefahr. 
            th Se libera de un pin, inflige &lt;damage&gt; de daño e intercambia &lt;val1&gt; gemas aleatorias por gemas &lt;val2&gt;. Las gemas que se rompan durante la liberación no infligirán ningún daño y esta no se realizará si la superstar está en peligro. 
            th Escapa, causa &lt;damage&gt; de dano e troca &lt;val1&gt; joias aleatórias por joias &lt;val2&gt;. Joias quebradas durante a fuga não causam dano. Enquanto estiver em perigo, não é possível escapar. 
            th Kickout, provoca &lt;damage&gt; di danno e scambia &lt;val1&gt; gemme casuali in gemme &lt;TriggerMinVal2&gt;. Le gemme rotte durante un kickout non provocano danno. Impossibile liberarsi dallo schienamento in fase di Pericolo.
            th Kickout, Deal &lt;damage&gt; Damage and swap &lt;val1&gt; Random Gems into &lt;val2&gt; Gems. Gem(s) broken during Kickout do not deal damage. Cannot Kickout when in Danger. 
            th Kickout, Deal &lt;damage&gt; Damage and swap &lt;val1&gt; Random Gems into &lt;val2&gt; Gems. Gem(s) broken during Kickout do not deal damage. Cannot Kickout when in Danger. 
            th 킥아웃하고, &lt;damage&gt; 대미지를 주며, 젬 &lt;val1&gt;개를 무작위로 선택해 &lt;val2&gt; 젬으로 바꿔버립니다. 킥아웃 중에 파괴된 젬은 대미지를 주지 않습니다. 위기 상황일 때는 킥아웃을 할 수 없습니다. 
            th キックアウト、&lt;damage&gt;ダメージを与え、&lt;val1&gt;ランダムジェムを&lt;val2&gt;ジェムに入れ替える。キックアウトで壊れたジェムはダメージを与えない。危険状態ではキックアウトできない。
        tr
            th 64809 
            th !!MOVE_DESC_KICKOUT_SWAPCOLOR_RANDOM_COLOR_EOT 
            th Kickout of Pin, Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s), and Deal &lt;damage&gt; Damage at end of turn. Gem(s) broken during Kickout do not deal damage to the Opponent. Cannot Kickout when in Danger. 
            th Kickout of Pin, Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s), and Deal &lt;damage&gt; Damage at end of turn. Gem(s) broken during Kickout do not deal damage. Cannot Kickout when in Danger. 
            th Kickout of Pin, Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s), and Deal &lt;damage&gt; Damage at end of turn. Gem(s) broken during Kickout do not deal damage. Cannot Kickout when in Danger. 
            th Kickout of Pin, Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s), and Deal &lt;damage&gt; Damage at end of turn. Gem(s) broken during Kickout do not deal damage. Cannot Kickout when in Danger. 
            th Kickout of Pin, Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s), and Deal &lt;damage&gt; Damage at end of turn. Gem(s) broken during Kickout do not deal damage. Cannot Kickout when in Danger. 
            th Kickout of Pin, Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s), and Deal &lt;damage&gt; Damage at end of turn. Gem(s) broken during Kickout do not deal damage. Cannot Kickout when in Danger.
            th Kickout of Pin, Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s), and Deal &lt;damage&gt; Damage at end of turn. Gem(s) broken during Kickout do not deal damage. Cannot Kickout when in Danger. 
            th Kickout of Pin, Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s), and Deal &lt;damage&gt; Damage at end of turn. Gem(s) broken during Kickout do not deal damage. Cannot Kickout when in Danger. 
            th Kickout of Pin, Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s), and Deal &lt;damage&gt; Damage at end of turn. Gem(s) broken during Kickout do not deal damage. Cannot Kickout when in Danger. 
            th Kickout of Pin, Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s), and Deal &lt;damage&gt; Damage at end of turn. Gem(s) broken during Kickout do not deal damage. Cannot Kickout when in Danger.
        tr
            th 20512 
            th !!MOVE_DESC_KICKOUT_SWAPCOLOR_RANDOM_COLOR 
            th Deal &lt;damage&gt; Damage, Kickout of Pin and Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s). Gem(s) broken during Kickout do not deal damage to the Opponent. Cannot Kickout when in Danger. 
            th Deal &lt;damage&gt; Damage, Kickout of Pin and Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s).  Gem(s) broken during Kickout do not have any effect.  Cannot Kickout when in Danger. 
            th Deal &lt;damage&gt; Damage, Kickout of Pin and Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s).  Gem(s) broken during Kickout do not have any effect.  Cannot Kickout when in Danger. 
            th Deal &lt;damage&gt; Damage, Kickout of Pin and Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s).  Gem(s) broken during Kickout do not have any effect.  Cannot Kickout when in Danger. 
            th Deal &lt;damage&gt; Damage, Kickout of Pin and Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s).  Gem(s) broken during Kickout do not have any effect.  Cannot Kickout when in Danger. 
            th Deal &lt;damage&gt; Damage, Kickout of Pin and Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s).  Gem(s) broken during Kickout do not have any effect.  Cannot Kickout when in Danger.
            th Deal &lt;damage&gt; Damage, Kickout of Pin and Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s).  Gem(s) broken during Kickout do not have any effect.  Cannot Kickout when in Danger. 
            th Deal &lt;damage&gt; Damage, Kickout of Pin and Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s).  Gem(s) broken during Kickout do not have any effect.  Cannot Kickout when in Danger. 
            th Deal &lt;damage&gt; Damage, Kickout of Pin and Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s).  Gem(s) broken during Kickout do not have any effect.  Cannot Kickout when in Danger. 
            th Deal &lt;damage&gt; Damage, Kickout of Pin and Swap &lt;val1&gt; Random &lt;TriggerMinVal2&gt; Gem(s) to &lt;TriggerMaxVal2&gt; Gem(s).  Gem(s) broken during Kickout do not have any effect.  Cannot Kickout when in Danger.
        tr
            th 20511 
            th !!MOVE_DESC_KICKOUT_SWAPCOLOR_RANDOM 
            th Deal &lt;damage&gt; Damage, Kickout of Pin and Swap &lt;val1&gt; Random Gem(s) to &lt;TriggerMinVal2&gt; Gem(s). Gem(s) broken during Kickout do not deal damage to the Opponent. Cannot Kickout when in Danger. 
            th Verursache &lt;damage&gt; Schaden, Kickout of Pin und tausche &lt;val1&gt; Zufällige Juwel(en) gegen &lt;TriggerMinVal2&gt; Juwel(en). Während des Kickouts zerbrochene Juwel(en) haben keine Wirkung. Du kannst keinen Kickout ausführen, wenn du in Gefahr bist. 
            th Deal &lt;damage&gt; Damage, Kickout of Pin and Swap &lt;val1&gt; Random Gem(s) to &lt;TriggerMinVal2&gt; Gem(s). Gem(s) broken during Kickout do not have any effect. Cannot Kickout when in Danger. 
            th Inflige &lt;damage&gt; de daño, libera del pin y cambia &lt;val1&gt; gema(s) aleatoria(s) por gema(s) &lt;TriggerMinVal2&gt;. Las gemas que se rompan durante la liberación no tendrán ningún efecto, y esta no se realizará si la superstar está en peligro. 
            th Cause &lt;damage&gt; de dano, escape de um pin e troque &lt;val1&gt; joia(s) aleatória(s) por joia(s) de &lt;TriggerMinVal2&gt;. Joia(s) quebrada(s) durante a fuga não têm nenhum efeito. Enquanto estiver em perigo, não é possível escapar. 
            th Provoca &lt;damage&gt; di danno, liberati da una schienata e scambia &lt;val1&gt; gemma/e a caso in gemma/e &lt;TriggerMinVal2&gt;. Le gemme rotte mentre ti liberi non hanno alcun effetto. Impossibile liberarsi in fase di Pericolo.
            th Kickout of Pin and Swap &lt;val1&gt; Random Gem(s) to &lt;TriggerMinVal2&gt; Gem(s). Gem(s) broken during Kickout do not damage your Opponent.  Cannot Kickout when in Danger. 
            th Kickout of Pin and Swap &lt;val1&gt; Random Gem(s) to &lt;TriggerMinVal2&gt; Gem(s). Gem(s) broken during Kickout do not damage your Opponent.  Cannot Kickout when in Danger. 
            th &lt;damage&gt; 대미지를 주며, 킥아웃으로 핀을 벗어나고 젬 &lt;val1&gt;개를 무작위로 선택해 &lt;TriggerMinVal2&gt; 젬으로 교체합니다. 킥아웃 중에 젬이 파괴되면 아무 효과도 발동되지 않습니다. 위기 상황일 때는 킥아웃을 할 수 없습니다. 
            th &lt;damage&gt;のダメージを与え、ピンの外にキックアウトしランダムに選ばれた&lt;val1&gt;ジェムを&lt;TriggerMinVal2&gt;ジェムと交換する。キックアウト時に壊れたジェムは効果を失う。「危険」状態のときにキックアウトはできない。
        tr
            th 79729 
            th !!MOVE_DEFENSIVE_PLAYINGPOSSUM 
            th Playing Possum 
            th Playing Possum 
            th Playing Possum 
            th Playing Possum 
            th Playing Possum 
            th Playing Possum
            th Playing Possum 
            th Playing Possum 
            th Playing Possum 
            th Playing Possum
        tr
            th 44418 
            th !!R44_TASK_COLLECTSTARS_DESCRIPT 
            th !!RBE_PTD_JUL2021_SIGNPOST_BLAST_TOUR 
            th !!RBE_PTD_JUL2021_SIGNPOST_BLAST_TOUR 
            th !!RBE_PTD_JUL2021_SIGNPOST_BLAST_TOUR 
            th !!RBE_PTD_JUL2021_SIGNPOST_BLAST_TOUR 
            th !!RBE_PTD_JUL2021_SIGNPOST_BLAST_TOUR 
            th !!RBE_PTD_JUL2021_SIGNPOST_BLAST_TOUR
            th !!RBE_PTD_JUL2021_SIGNPOST_BLAST_TOUR 
            th !!RBE_PTD_JUL2021_SIGNPOST_BLAST_TOUR 
            th !!RBE_PTD_JUL2021_SIGNPOST_BLAST_TOUR 
            th !!RBE_PTD_JUL2021_SIGNPOST_BLAST_TOUR
        tr
            th 79728 
            th !!RBE_NOV2022_GB_PTD_FB_LVL10_BOOGEYMAN 
            th Defeat the Boss on Level 10 with The Boogeyman &quot;Comin to Getcha&quot; 
            th Defeat the Boss on Level 10 with The Boogeyman &quot;Comin to Getcha&quot; 
            th Defeat the Boss on Level 10 with The Boogeyman &quot;Comin to Getcha&quot; 
            th Defeat the Boss on Level 10 with The Boogeyman &quot;Comin to Getcha&quot; 
            th Defeat the Boss on Level 10 with The Boogeyman &quot;Comin to Getcha&quot; 
            th Defeat the Boss on Level 10 with The Boogeyman &quot;Comin to Getcha&quot;
            th Defeat the Boss on Level 10 with The Boogeyman &quot;Comin to Getcha&quot; 
            th Defeat the Boss on Level 10 with The Boogeyman &quot;Comin to Getcha&quot; 
            th Defeat the Boss on Level 10 with The Boogeyman &quot;Comin to Getcha&quot; 
            th Defeat the Boss on Level 10 with The Boogeyman &quot;Comin to Getcha&quot;
        tr
            th 79727 
            th !!RBE_NOV2022_GB_PTD_FB_LVL10_CENA_INVIS 
            th Defeat the Boss on Level 10 with John Cena &quot;You Can&#39;t See Me&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;You Can&#39;t See Me&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;You Can&#39;t See Me&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;You Can&#39;t See Me&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;You Can&#39;t See Me&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;You Can&#39;t See Me&quot;
            th Defeat the Boss on Level 10 with John Cena &quot;You Can&#39;t See Me&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;You Can&#39;t See Me&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;You Can&#39;t See Me&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;You Can&#39;t See Me&quot;
        tr
            th 79726 
            th !!RBE_NOV2022_GB_PTD_FB_LVL10_CENA_GB 
            th Defeat the Boss on Level 10 with John Cena &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;Ghostbusters&quot;
            th Defeat the Boss on Level 10 with John Cena &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with John Cena &quot;Ghostbusters&quot;
        tr
            th 79725 
            th !!RBE_NOV2022_GB_PTD_FB_LVL10_ROMAN_GB 
            th Defeat the Boss on Level 10 with Roman Reigns &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with Roman Reigns &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with Roman Reigns &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with Roman Reigns &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with Roman Reigns &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with Roman Reigns &quot;Ghostbusters&quot;
            th Defeat the Boss on Level 10 with Roman Reigns &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with Roman Reigns &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with Roman Reigns &quot;Ghostbusters&quot; 
            th Defeat the Boss on Level 10 with Roman Reigns &quot;Ghostbusters&quot;
        tr
            th 79724 
            th !!RBE_NOV2022_GB_FB_FEEDER_DESC 
            th Earn up to 7,500,000 Ghostbusters: Part 1 Solo Contest Points, Ghostbusters Ghost Traps and MORE by playing this Faction Boss game mode! 
            th Earn up to 7,500,000 Ghostbusters: Part 1 Solo Contest Points, Ghostbusters Ghost Traps and MORE by playing this Faction Boss game mode! 
            th Earn up to 7,500,000 Ghostbusters: Part 1 Solo Contest Points, Ghostbusters Ghost Traps and MORE by playing this Faction Boss game mode! 
            th Earn up to 7,500,000 Ghostbusters: Part 1 Solo Contest Points, Ghostbusters Ghost Traps and MORE by playing this Faction Boss game mode! 
            th Earn up to 7,500,000 Ghostbusters: Part 1 Solo Contest Points, Ghostbusters Ghost Traps and MORE by playing this Faction Boss game mode! 
            th Earn up to 7,500,000 Ghostbusters: Part 1 Solo Contest Points, Ghostbusters Ghost Traps and MORE by playing this Faction Boss game mode!
            th Earn up to 7,500,000 Ghostbusters: Part 1 Solo Contest Points, Ghostbusters Ghost Traps and MORE by playing this Faction Boss game mode! 
            th Earn up to 7,500,000 Ghostbusters: Part 1 Solo Contest Points, Ghostbusters Ghost Traps and MORE by playing this Faction Boss game mode! 
            th Earn up to 7,500,000 Ghostbusters: Part 1 Solo Contest Points, Ghostbusters Ghost Traps and MORE by playing this Faction Boss game mode! 
            th Earn up to 7,500,000 Ghostbusters: Part 1 Solo Contest Points, Ghostbusters Ghost Traps and MORE by playing this Faction Boss game mode!
        tr
            th 79723 
            th !!RBE_NOV2022_GB_FB_FEEDER 
            th Ghostbusters Faction Mid-Boss Competition 
            th Ghostbusters Faction Mid-Boss Competition 
            th Ghostbusters Faction Mid-Boss Competition 
            th Ghostbusters Faction Mid-Boss Competition 
            th Ghostbusters Faction Mid-Boss Competition 
            th Ghostbusters Faction Mid-Boss Competition
            th Ghostbusters Faction Mid-Boss Competition 
            th Ghostbusters Faction Mid-Boss Competition 
            th Ghostbusters Faction Mid-Boss Competition 
            th Ghostbusters Faction Mid-Boss Competition
    