table#datatablesSimple
    thead
        tr
            th
            th ID
            th Platform
            th Price
            th Discount
            th Schedule
            th Gate
            th Actions
    tfoot
        tr
            th
            th ID
            th Platform
            th Price
            th Discount
            th Schedule
            th Gate
            th Actions
    tbody
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_1
            th web
            th $9.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                .row 
                    a.nav-table-link(href='offers-new.html')
                        .sb-nav-link-table-icon
                            i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_2
            th web
            th $19.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_3
            th web
            th $9.99
            th 5%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_4
            th mobile
            th $29.99
            th 15%
            th 10/09/2022 - 10/17/2022
            th r45_live
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_5
            th web
            th $19.99
            th 30%
            th 10/09/2022 - 10/10/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_6
            th web
            th $19.99
            th 0%
            th 09/10/2022 - 09/17/2022
            th r45_live
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_7
            th web
            th $9.99
            th 50%
            th 10/17/2022 - 10/27/2022
            th r45_live
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_8
            th web
            th $9.99
            th 0%
            th 09/10/2022 - 09/17/2022
            th r45_live
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_9
            th web
            th $19.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_10
            th web, mobile
            th $59.99
            th 10%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_11
            th web
            th $19.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_12
            th web
            th $19.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_13
            th web
            th $19.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_14
            th web
            th $19.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_15
            th web
            th $19.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_16
            th web
            th $19.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_17
            th web
            th $19.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_18
            th web
            th $19.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_19
            th web
            th $19.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
        tr
            th 
                input.form-check-input(type='checkbox')
            th sample_offer_id_20
            th web
            th $19.99
            th 0%
            th 10/10/2022 - 10/17/2022
            th r45_liveops
            th 
                a.nav-table-link(href='offers-new.html')
                    .sb-nav-link-table-icon
                        i.fas.fa-pencil
