table#datatablesSimple
    thead
        tr
            th ID
            th Name
            th Value
    tfoot
        tr
            th ID
            th Name
            th Value
    tbody
        tr
            th ABCDE-FGHIJ-KLMNO
            th my_segment_1
            th league >= 7
        tr
            th PQRST-UVWXY-ZABCD
            th my_segment_1
            th league >= 16
        tr
            th ABCDE-FGHIJ-KLMNO
            th my_segment_1
            th league < 7
        tr
            th PQRST-UVWXY-ZABCD
            th my_segment_1
            th league <16
        tr
            th ABCDE-FGHIJ-KLMNO
            th my_segment_1
            th league = 20